@import url('typography.css');
@import url('layout.css');
@import url('navigation.css');
@import url('post.css');
.site-header {
    border-bottom: 4px solid black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.site-footer {
    border-bottom: 4px solid black;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.main-sidebar ul {
    padding: 1rem;
    padding-right: 0;
    padding-top: 0;
}

.main-sidebar>section {
    padding-bottom: 1.5rem;
}